<%= form_for :conversation, url: :conversations do |f| %>
    <div class="field">
      <%= f.label :recipients %>
      <%= f.select(:recipients, User.where.not(id: current_user).collect {|p| [ p.username, p.id ] }, {}, { multiple: true , style: "display: inline-block;", class: "chosen-select input-field" })%>
    </div>
    <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "input-field" %>
    </div>
    <div class="field">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'input-field',placeholder: "Type your message here", rows: 4  %>
    </div>
    <br>
    <%= f.submit "Send Message", class: "waves-effect waves-light btn" %>
<% end %>