<%= render "devise/shared/nav" %>

<div class="container">
  <div class="row">
    <div class="col s12">

      <h4 class="center-align">Pick A Game</h4>

      <div>
        <ul class="center-align">
          <% @games.each do |game| %>
          <li class="col s4">
            <div class="card arena-card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator card-img" src="<%= game.arena.image.url if game.arena.image %>">
              </div>

              <div class="card-content">
                <div class="card-title activator grey-text text-darken-4">
                  <h5 class="center-align"><%= game.arena.name %></h5>
                </div>

                <div class="center-align"><a class="card-btn waves-effect waves-light btn" href="/games/<%= game.id %>">View This Game</a></div>
              </div>

              <div class="card-reveal">
                <div class="card-title grey-text text-darken-4">
                  <h5 class="center-align"><%= game.arena.name %><i class="material-icons right red-text">close</i></h5>
                </div>
                <a href="<%= game.arena.website %>">Website</a>
                <hr>
                <p>Address: <%= game.arena.address %></p>
                <p>Contact Number: <%= game.arena.number %></p>
                <p>Size: <%= game.arena.size %></p>
                <p>Price per hour: <%= game.arena.price %></p>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>