<%= render "devise/shared/nav" %>

<% if flash[:invitesuccess] %>
	<div class="center-align">
		<h6><%= flash[:invitesuccess] %></h6>
	</div>
<% elsif flash[:invitefail] %>
	<div class="center-align">
		<h6><%= flash[:invitefail] %></h6>
	</div>
<% end %>

<div class="container game-show-page">
	<div class="row">
		<div class="col s12">
			<h4 class="center-align js-game-coords" data-lat="<%= @game.arena.lat %>" data-lng="<%= @game.arena.lng %>" style="text-transform: uppercase;"><%= @game.arena.name %></h4>
			<h5 class="center-align"><%= (@game.start_time).strftime("%A %b %d from %I:%M %p") %> - <%= (@game.end_time).strftime("%I:%M %p") %></h5>
			<h6 class="center-align" style="text-transform: uppercase">Created by:
				<a href="/users/<%= @game.user.id %>">
					<%= @game.user.username %>
				</a>
			</h6>
		</div>
	</div>
	<%if current_user && !@is_current_accepted %>
		<% if current_user != @game.user %>
			<div class="center-align">
				<button class="waves-effect waves-light btn">
					<a class="white-text" href="/games/<%= @game.id %>/requests/<%= current_user.id %>">Join This Game</a>
				</button>
			</div>
		<% end %>
		<br>
	<%elsif !user_signed_in? %>
		<div class="center-align">
			<button class="waves-effect waves-light btn"><a class="white-text" href="/users/sign_in">LOG IN TO JOIN THIS GAME</a></button>
		</div>
	<% end %>
	<%if user_signed_in?%>
		<%if (@is_current_accepted) || (current_user.id == @game.user.id)%>
			<div class="center-align">
				<%= social_share_button_tag("I am playing a game of soccer at #{@game.arena.name}. Details: ",:url => "http://localhost:3000/games/#{@game.id}") %>
			</div>
		<% end %>
	<%end%>
	<br>

	<div class="row">
		<div class="col s12 game-accepted" style="padding-top: 10px; padding-bottom: 10px;">
			<h6 class="center-align">ACCEPTED</h6>
			<ul class="js-accepted">
				<%if @accepted.empty?%>
					<p class="js-no-accepted">No one has accepted an invitation yet.</p>
				<%else%>
					<% @accepted.each do |invite| %>
						<li>
							<%= invite.name %>
						</li>
					<% end %>
				<%end%>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col s8 offset-s2">
			<div class="col s5 game-pending left" style="padding-top: 10px; padding-bottom: 10px;">
				<h6 class="center-align">PENDING</h6>
				<ul class="js-pending-list">
				<%if @yet.empty?%>
					<li class="js-no-pending">No pending invitations.</li>
				<%else%>
					<% @yet.each do |invite| %>
						<li class="js-pending-<%=invite.id%>">
							<%= invite.name %>
						</li>
					<% end %>
				<%end%>
				</ul>
			</div>

			<div class="col s5 game-rejected right" style="padding-top: 10px; padding-bottom: 10px;">
				<h6 class="center-align">REJECTED</h6>
				<ul class="js-rejected">
				<%if @rejected.empty?%>
					<li class="js-no-rejected">No one has rejected an invitation yet.</li>
				<%else%>
					<% @rejected.each do |invite| %>
						<li>
							<%= invite.name %>
						</li>
					<% end %>
				<%end%>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="center-align">
	    	<div id="geolocation" style='width: 100%; height: 400px;'></div>
	  	</div>
	</div>
</div>